nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

.branding {
  font-size: 1.2em;
}

.register-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.register-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.register-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.register-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.register-button:hover {
  background-color: #45a049;
}

.login-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.login-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.login-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.sample-credentials {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.logout-button {
  background: #ff0000;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
}
